[user]
  name = Zachary Scott
  email = mail@zzak.io
[color]
  branch = auto
  diff = auto
  grep = auto
  status = auto
  ui = true
[color "diff"]
  whitespace = red reverse
[core]
  editor = emacsclient
  excludesfile = ~/.gitignore
[alias]
  st = status
  cd = commit
  br = branch
  co = checkout
  df = diff
  dc = diff --cached
  ds = diff --staged
  lg = log -p
  ls = ls-files
  g  = grep
  pull = pull -r
[grep]
  lineNumber = true
