[user]
  name = Zachary Scott
  email = zzakscott@gmail.com
[github]
  user = zzak
[color]
  branch = auto
  diff = auto
  grep = auto
  status = auto
  ui = true
[color "diff"]
  whitespace = red reverse
[core]
  editor = "code --wait"
  excludesfile = ~/.gitignore
[alias]
  st = status
  cd = commit
  br = branch
  co = checkout
  df = diff
  dc = diff --cached
  ds = diff --staged
  lg = log -p
  ls = ls-files
  g  = grep
  pull = pull -r
[grep]
  lineNumber = true
[url "ssh://git@github.com"]
	insteadOf = https://github.com
[pull]
	rebase = true
[gitlab]
	user = zzak
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
