*projectile-bookmarks.eld
/emacs/.emacs.d/eshell
/emacs/.emacs.d/url
/emacs/.emacs.d/transient
/emacs/.emacs.d/forge-database.sqlite
/emacs/.emacs.d/.cache
/emacs/.emacs.d/.lsp-session-v1

/tmux/.tmux/plugins/
