[submodule "emacs/.emacs.d/packages/rust-mode"]
	path = emacs/.emacs.d/packages/rust-mode
	url = https://github.com/rust-lang/rust-mode
[submodule "emacs/.emacs.d/packages/elixir-mode"]
	path = emacs/.emacs.d/packages/elixir-mode
	url = https://github.com/elixir-lang/emacs-elixir
[submodule "emacs/.emacs.d/packages/alchemist.el"]
	path = emacs/.emacs.d/packages/alchemist.el
	url = https://github.com/tonini/alchemist.el
[submodule "emacs/.emacs.d/packages/company-mode"]
	path = emacs/.emacs.d/packages/company-mode
	url = https://github.com/company-mode/company-mode
[submodule "emacs/.emacs.d/packages/pkg-info"]
	path = emacs/.emacs.d/packages/pkg-info
	url = https://github.com/lunaryorn/pkg-info.el
[submodule "emacs/.emacs.d/packages/epl"]
	path = emacs/.emacs.d/packages/epl
	url = https://github.com/cask/epl
[submodule "emacs/.emacs.d/packages/dash"]
	path = emacs/.emacs.d/packages/dash
	url = https://github.com/magnars/dash.el
[submodule "emacs/.emacs.d/packages/yaml-mode"]
	path = emacs/.emacs.d/packages/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
[submodule "emacs/.emacs.d/packages/monroe"]
	path = emacs/.emacs.d/packages/monroe
	url = https://github.com/sanel/monroe
[submodule "emacs/.emacs.d/packages/clojure-mode"]
	path = emacs/.emacs.d/packages/clojure-mode
	url = https://github.com/clojure-emacs/clojure-mode.git
[submodule "emacs/.emacs.d/packages/go-mode"]
	path = emacs/.emacs.d/packages/go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "emacs/.emacs.d/packages/markdown-mode"]
	path = emacs/.emacs.d/packages/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "emacs/.emacs.d/packages/magit"]
	path = emacs/.emacs.d/packages/magit
	url = https://github.com/magit/magit
[submodule "emacs/.emacs.d/packages/magit-popup"]
	path = emacs/.emacs.d/packages/magit-popup
	url = https://github.com/magit/magit-popup
[submodule "emacs/.emacs.d/packages/ghub"]
	path = emacs/.emacs.d/packages/ghub
	url = https://github.com/magit/ghub
[submodule "emacs/.emacs.d/packages/with-editor"]
	path = emacs/.emacs.d/packages/with-editor
	url = https://github.com/magit/with-editor
[submodule "emacs/.emacs.d/packages/rainbow-delimiters"]
	path = emacs/.emacs.d/packages/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters
[submodule "emacs/.emacs.d/packages/ggtags"]
	path = emacs/.emacs.d/packages/ggtags
	url = https://github.com/leoliu/ggtags
[submodule "emacs/.emacs.d/packages/projectile"]
	path = emacs/.emacs.d/packages/projectile
	url = https://github.com/bbatsov/projectile
[submodule "emacs/.emacs.d/packages/tide"]
	path = emacs/.emacs.d/packages/tide
	url = https://github.com/ananthakumaran/tide
[submodule "emacs/.emacs.d/packages/typescript-mode"]
	path = emacs/.emacs.d/packages/typescript-mode
	url = https://github.com/ananthakumaran/typescript.el
[submodule "emacs/.emacs.d/packages/s"]
	path = emacs/.emacs.d/packages/s
	url = https://github.com/magnars/s.el
[submodule "emacs/.emacs.d/packages/flycheck"]
	path = emacs/.emacs.d/packages/flycheck
	url = https://github.com/flycheck/flycheck
[submodule "emacs/.emacs.d/packages/web-mode"]
	path = emacs/.emacs.d/packages/web-mode
	url = https://github.com/fxbois/web-mode
[submodule "emacs/.emacs.d/packages/graphql-mode"]
	path = emacs/.emacs.d/packages/graphql-mode
	url = https://github.com/davazp/graphql-mode
[submodule "emacs/.emacs.d/packages/flycheck-pos-tip"]
	path = emacs/.emacs.d/packages/flycheck-pos-tip
	url = https://github.com/flycheck/flycheck-pos-tip
[submodule "emacs/.emacs.d/packages/flycheck-popup-tip"]
	path = emacs/.emacs.d/packages/flycheck-popup-tip
	url = https://github.com/flycheck/flycheck-popup-tip
[submodule "emacs/.emacs.d/packages/popup.el"]
	path = emacs/.emacs.d/packages/popup.el
	url = https://github.com/auto-complete/popup-el
[submodule "emacs/.emacs.d/packages/prettier-js"]
	path = emacs/.emacs.d/packages/prettier-js
	url = https://github.com/prettier/prettier-emacs
[submodule "emacs/.emacs.d/packages/nvm.el"]
	path = emacs/.emacs.d/packages/nvm.el
	url = https://github.com/rejeep/nvm.el
[submodule "emacs/.emacs.d/packages/f"]
	path = emacs/.emacs.d/packages/f
	url = https://github.com/rejeep/f.el
[submodule "emacs/.emacs.d/packages/flow-minor-mode"]
	path = emacs/.emacs.d/packages/flow-minor-mode
	url = https://github.com/an-sh/flow-minor-mode
[submodule "emacs/.emacs.d/packages/flycheck-flow"]
	path = emacs/.emacs.d/packages/flycheck-flow
	url = https://github.com/lbolla/emacs-flycheck-flow
[submodule "emacs/.emacs.d/packages/helm"]
	path = emacs/.emacs.d/packages/helm
	url = https://github.com/emacs-helm/helm
[submodule "emacs/.emacs.d/packages/async"]
	path = emacs/.emacs.d/packages/async
	url = https://github.com/jwiegley/emacs-async
