[submodule "emacs/.emacs.d/packages/rust-mode"]
	path = emacs/.emacs.d/packages/rust-mode
	url = https://github.com/rust-lang/rust-mode
[submodule "emacs/.emacs.d/packages/elixir-mode"]
	path = emacs/.emacs.d/packages/elixir-mode
	url = https://github.com/elixir-lang/emacs-elixir
[submodule "emacs/.emacs.d/packages/alchemist.el"]
	path = emacs/.emacs.d/packages/alchemist.el
	url = https://github.com/tonini/alchemist.el
[submodule "emacs/.emacs.d/packages/company-mode"]
	path = emacs/.emacs.d/packages/company-mode
	url = https://github.com/company-mode/company-mode
[submodule "emacs/.emacs.d/packages/pkg-info"]
	path = emacs/.emacs.d/packages/pkg-info
	url = https://github.com/lunaryorn/pkg-info.el
[submodule "emacs/.emacs.d/packages/epl"]
	path = emacs/.emacs.d/packages/epl
	url = https://github.com/cask/epl
[submodule "emacs/.emacs.d/packages/dash"]
	path = emacs/.emacs.d/packages/dash
	url = https://github.com/magnars/dash.el
[submodule "emacs/.emacs.d/packages/yaml-mode"]
	path = emacs/.emacs.d/packages/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
[submodule "emacs/.emacs.d/packages/monroe"]
	path = emacs/.emacs.d/packages/monroe
	url = https://github.com/sanel/monroe
[submodule "emacs/.emacs.d/packages/clojure-mode"]
	path = emacs/.emacs.d/packages/clojure-mode
	url = https://github.com/clojure-emacs/clojure-mode.git
[submodule "emacs/.emacs.d/packages/go-mode"]
	path = emacs/.emacs.d/packages/go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "emacs/.emacs.d/packages/markdown-mode"]
	path = emacs/.emacs.d/packages/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "emacs/.emacs.d/packages/magit"]
	path = emacs/.emacs.d/packages/magit
	url = https://github.com/magit/magit
[submodule "emacs/.emacs.d/packages/magit-popup"]
	path = emacs/.emacs.d/packages/magit-popup
	url = https://github.com/magit/magit-popup
[submodule "emacs/.emacs.d/packages/ghub"]
	path = emacs/.emacs.d/packages/ghub
	url = https://github.com/magit/ghub
[submodule "emacs/.emacs.d/packages/with-editor"]
	path = emacs/.emacs.d/packages/with-editor
	url = https://github.com/magit/with-editor
[submodule "emacs/.emacs.d/packages/rainbow-delimiters"]
	path = emacs/.emacs.d/packages/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters
[submodule "emacs/.emacs.d/packages/projectile"]
	path = emacs/.emacs.d/packages/projectile
	url = https://github.com/bbatsov/projectile
[submodule "emacs/.emacs.d/packages/tide"]
	path = emacs/.emacs.d/packages/tide
	url = https://github.com/ananthakumaran/tide
[submodule "emacs/.emacs.d/packages/typescript-mode"]
	path = emacs/.emacs.d/packages/typescript-mode
	url = https://github.com/ananthakumaran/typescript.el
[submodule "emacs/.emacs.d/packages/s"]
	path = emacs/.emacs.d/packages/s
	url = https://github.com/magnars/s.el
[submodule "emacs/.emacs.d/packages/flycheck"]
	path = emacs/.emacs.d/packages/flycheck
	url = https://github.com/flycheck/flycheck
[submodule "emacs/.emacs.d/packages/web-mode"]
	path = emacs/.emacs.d/packages/web-mode
	url = https://github.com/fxbois/web-mode
[submodule "emacs/.emacs.d/packages/graphql-mode"]
	path = emacs/.emacs.d/packages/graphql-mode
	url = https://github.com/davazp/graphql-mode
[submodule "emacs/.emacs.d/packages/flycheck-pos-tip"]
	path = emacs/.emacs.d/packages/flycheck-pos-tip
	url = https://github.com/flycheck/flycheck-pos-tip
[submodule "emacs/.emacs.d/packages/flycheck-popup-tip"]
	path = emacs/.emacs.d/packages/flycheck-popup-tip
	url = https://github.com/flycheck/flycheck-popup-tip
[submodule "emacs/.emacs.d/packages/popup.el"]
	path = emacs/.emacs.d/packages/popup.el
	url = https://github.com/auto-complete/popup-el
[submodule "emacs/.emacs.d/packages/prettier-js"]
	path = emacs/.emacs.d/packages/prettier-js
	url = https://github.com/prettier/prettier-emacs
[submodule "emacs/.emacs.d/packages/nvm.el"]
	path = emacs/.emacs.d/packages/nvm.el
	url = https://github.com/rejeep/nvm.el
[submodule "emacs/.emacs.d/packages/f"]
	path = emacs/.emacs.d/packages/f
	url = https://github.com/rejeep/f.el
[submodule "emacs/.emacs.d/packages/flow-minor-mode"]
	path = emacs/.emacs.d/packages/flow-minor-mode
	url = https://github.com/an-sh/flow-minor-mode
[submodule "emacs/.emacs.d/packages/flycheck-flow"]
	path = emacs/.emacs.d/packages/flycheck-flow
	url = https://github.com/lbolla/emacs-flycheck-flow
[submodule "emacs/.emacs.d/packages/helm"]
	path = emacs/.emacs.d/packages/helm
	url = https://github.com/emacs-helm/helm
[submodule "emacs/.emacs.d/packages/async"]
	path = emacs/.emacs.d/packages/async
	url = https://github.com/jwiegley/emacs-async
[submodule "emacs/.emacs.d/packages/dired-sidebar"]
	path = emacs/.emacs.d/packages/dired-sidebar
	url = https://github.com/jojojames/dired-sidebar
[submodule "emacs/.emacs.d/packages/dired-hacks"]
	path = emacs/.emacs.d/packages/dired-hacks
	url = https://github.com/Fuco1/dired-hacks
[submodule "emacs/.emacs.d/packages/all-the-icons"]
	path = emacs/.emacs.d/packages/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el
[submodule "emacs/.emacs.d/packages/memoize"]
	path = emacs/.emacs.d/packages/memoize
	url = https://github.com/skeeto/emacs-memoize
[submodule "emacs/.emacs.d/packages/all-the-icons-dired"]
	path = emacs/.emacs.d/packages/all-the-icons-dired
	url = https://github.com/jtbm37/all-the-icons-dired
[submodule "emacs/.emacs.d/packages/diff-hl"]
	path = emacs/.emacs.d/packages/diff-hl
	url = https://github.com/dgutov/diff-hl
[submodule "emacs/.emacs.d/packages/rubocop"]
	path = emacs/.emacs.d/packages/rubocop
	url = https://github.com/rubocop-hq/rubocop-emacs
[submodule "emacs/.emacs.d/packages/add-node-modules-path"]
	path = emacs/.emacs.d/packages/add-node-modules-path
	url = https://github.com/codesuki/add-node-modules-path
[submodule "emacs/.emacs.d/packages/org-journal"]
	path = emacs/.emacs.d/packages/org-journal
	url = https://github.com/bastibe/org-journal
[submodule "emacs/.emacs.d/packages/gruvbox"]
	path = emacs/.emacs.d/packages/gruvbox
	url = https://github.com/greduan/emacs-theme-gruvbox
[submodule "emacs/.emacs.d/packages/autothemer"]
	path = emacs/.emacs.d/packages/autothemer
	url = https://github.com/jasonm23/autothemer
[submodule "emacs/.emacs.d/packages/projectile-rails"]
	path = emacs/.emacs.d/packages/projectile-rails
	url = https://github.com/asok/projectile-rails
[submodule "emacs/.emacs.d/packages/inf-ruby"]
	path = emacs/.emacs.d/packages/inf-ruby
	url = https://github.com/nonsequitur/inf-ruby
[submodule "emacs/.emacs.d/packages/jump"]
	path = emacs/.emacs.d/packages/jump
	url = https://github.com/eschulte/jump.el
[submodule "emacs/.emacs.d/packages/rake"]
	path = emacs/.emacs.d/packages/rake
	url = https://github.com/asok/rake.el
[submodule "emacs/.emacs.d/packages/coffee-mode"]
	path = emacs/.emacs.d/packages/coffee-mode
	url = https://github.com/defunkt/coffee-mode
[submodule "emacs/.emacs.d/packages/forge"]
	path = emacs/.emacs.d/packages/forge
	url = https://github.com/magit/forge
[submodule "emacs/.emacs.d/packages/closql"]
	path = emacs/.emacs.d/packages/closql
	url = https://github.com/emacscollective/closql
[submodule "emacs/.emacs.d/packages/emacsql-sqlite"]
	path = emacs/.emacs.d/packages/emacsql-sqlite
	url = https://github.com/skeeto/emacsql
[submodule "emacs/.emacs.d/packages/transient"]
	path = emacs/.emacs.d/packages/transient
	url = https://github.com/magit/transient
[submodule "emacs/.emacs.d/packages/yaml"]
	path = emacs/.emacs.d/packages/yaml
	url = https://github.com/zkry/yaml.el
[submodule "emacs/.emacs.d/packages/treepy"]
	path = emacs/.emacs.d/packages/treepy
	url = https://github.com/volrath/treepy.el
[submodule "emacs/.emacs.d/packages/flycheck-clj-kondo"]
	path = emacs/.emacs.d/packages/flycheck-clj-kondo
	url = https://github.com/borkdude/flycheck-clj-kondo
[submodule "emacs/.emacs.d/packages/lsp-mode"]
	path = emacs/.emacs.d/packages/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode
[submodule "emacs/.emacs.d/packages/lsp-treemacs"]
	path = emacs/.emacs.d/packages/lsp-treemacs
	url = https://github.com/emacs-lsp/lsp-treemacs
[submodule "emacs/.emacs.d/packages/ht.el"]
	path = emacs/.emacs.d/packages/ht.el
	url = https://github.com/Wilfred/ht.el
[submodule "emacs/.emacs.d/packages/hydra"]
	path = emacs/.emacs.d/packages/hydra
	url = https://github.com/abo-abo/hydra
[submodule "emacs/.emacs.d/packages/spinner.el"]
	path = emacs/.emacs.d/packages/spinner.el
	url = https://github.com/Malabarba/spinner.el
[submodule "emacs/.emacs.d/packages/treemacs"]
	path = emacs/.emacs.d/packages/treemacs
	url = https://github.com/Alexander-Miller/treemacs
[submodule "emacs/.emacs.d/packages/pfuture"]
	path = emacs/.emacs.d/packages/pfuture
	url = https://github.com/Alexander-Miller/pfuture
[submodule "emacs/.emacs.d/packages/helm-lsp"]
	path = emacs/.emacs.d/packages/helm-lsp
	url = https://github.com/emacs-lsp/helm-lsp
[submodule "emacs/.emacs.d/packages/lsp-ui"]
	path = emacs/.emacs.d/packages/lsp-ui
	url = https://github.com/emacs-lsp/lsp-ui
[submodule "emacs/.emacs.d/packages/yasnippet"]
	path = emacs/.emacs.d/packages/yasnippet
	url = https://github.com/joaotavora/yasnippet
[submodule "emacs/.emacs.d/packages/helm-projectile"]
	path = emacs/.emacs.d/packages/helm-projectile
	url = https://github.com/bbatsov/helm-projectile
